<nav>
  <div class="nav-wrapper orange darken-3">
    <div class="container">
      <a href="/" class="brand-logo"><i class="material-icons hide-on-small-only">brightness_3</i>USA Yesterday</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved-articles">Saved Articles</a></li>
        <li><a id="scrape-link" href="/">Scrape New Articles</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/saved-articles">Saved Articles</a></li>
  <li><a id="scrape-link" href="/">Scrape New Articles</a></li>
</ul>

<main class="container">
  <div class="row">
    <div class="col s12">
      <div class="card grey lighten-2 z-depth-5">
        <div class="card-content">
          <h3><i class="material-icons medium hide-on-small-only">brightness_3</i>USA Yesterday Notes for Article</h3>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    {{#each Article}}
    <div class="col s12">
      <div class="card">
        <div class="card-image image-holder">
          <img class="responsive-img" src="{{imageUrl}}" alt="{{title}}">
        </div>
        <div class="card-content">
          <span class="card-title black-text">{{title}}</span>
          <blockquote>{{summary}}</blockquote>
          <h4>Notes:</h4>
          {{#each notes}}
            <h5>{{title}}</h5>
            <blockquote>{{body}}</blockquote>
            <button class="waves-effect waves-light btn red darken-3 white-text delete-note" data-id={{_id}}>Delete</button>
          {{/each}}
          <button class="waves-effect waves-light btn orange darken-3 white-text add-note modal-trigger"
            href="#note-modal" data-id={{_id}}>Add
            Note</button>
        </div>
        <div class="card-action">
          <button class="waves-effect waves-light btn orange darken-3 white-text save-button" data-id={{_id}}>Save
            Article</button>
          <a class="waves-effect waves-light btn orange darken-3" href="{{link}}" target="_blank"
            class="white-text">Read Article</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div id="note-modal" class="modal">
    <div class="modal-content">
      <h4 id="modal-id"></h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="note-title" type="text">
              <label for="note-title">Note Title:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="note-body" type="text">
              <label for="note-body">Note Body:</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light modal-close" id="modal-submit" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</main>

<footer class="page-footer orange darken-3">
  <div class="footer-copyright">
    <div class="container">
      <div class="grey-text text-lighten-4 left">
        USA-Yesterday Article Scraper
      </div>
      <div class="right">
        <a class="grey-text text-lighten-3" href="https://www.usatoday.com/" target="_blank"><i
            class="fas fa-circle"></i> USA Today</a>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="/assets/javascript/materialize.min.js"></script>
<script type="text/javascript" src="/assets/javascript/read.js"></script>